
@charset "UTF-8";
*{margin: 0; padding: 0; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;}

:root {
    --themeColor: #e7bd8d;
    --peraColor: #2e2c2d;
    --lightgreyColor: #f7f7f7;
  }

html {
    font-size: 62.5%;
    scroll-behavior: smooth scroll;
     -webkit-text-size-adjust: 100%;
}

a, abbr, acronym, address, applet, b, big, blockquote, body, caption, center, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, u, ul, var {
    margin: 0;
    padding: 0;
  }

body {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    overflow-x: hidden !important;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0.01rem;
    background: #0A090F !important;
  }
  
  img {
    max-width: 100%;
    max-height: 100%;
  }
  
  .cf:after,
  .cf:before {
    content: "";
    display: table;
  }
  
  .cf:after {
    clear: both;
  }
  
  :focus {
    outline: none;
  }

  i {
    line-height: 0;
  }
  
  p, li {
    font-size: 1.6rem;
    line-height: 2.8rem;
    color: #fff;
    font-weight: 400;
  }

  h2 {
    font-size: 4rem;
    text-align: center;
    font-weight: 600;
    padding-bottom: 2rem;
    color: #fff;
  }

  a {text-decoration: none;}


  .main-container {
    max-width: 1230px;
    margin: auto;
    padding: 0 1.5rem;
  }

  .sticky {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 999;
    background: #fff;
    box-shadow: 0px 4px 20px 1px rgba(221, 221, 221, 0.65);
    -webkit-box-shadow: 0px 4px 20px 1px rgba(221, 221, 221, 0.65);
    transition: 0.3s ease-in;
    animation: upsdown 1000ms;
}

@keyframes upsdown {

    0% {
      transform: translateY(-100px);
      visibility: hidden;
      opacity: 0;
  }
  100% {
      transform: translateY(0);
      visibility: visible;
      opacity: 1;
  }
  }

  .active {color: var(--themeColor) !important;}


  header {
    background: #ffffff9c;
    padding: .5rem 0;
    z-index: 9999;
    position: relative;
    height: 6rem;
    border-bottom: 1px solid #d9d9d9;
  }

header .main-container {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    align-items: center;
    -ms-flex-item-align: center;
    justify-content: space-between;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
}

.logo {
    font-size: 3rem;
    font-weight: 900;
    color: var(--themeColor);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    padding: 1rem 2rem;
}


nav ul li a {
    color: #000;
}

.nav_btn_open { display: none;}

.nav_btn_close {display: none;}

/* ------------------header end---------------- */


.home-top {
    background: #fff;
    padding: 4rem 0;
    height: 64rem;
    position: relative;
    z-index: 1;
}

.home-top::before {
    position: absolute;
    content: "";
    background: url(../img/home-top-bg.jpg) no-repeat;
    width: 100%;
    height: 100%;
    opacity: .5;
    top: -6rem;
    z-index: -1;
    left: 0;
    background-position: center center;
    background-size: cover;
}

.home-top .home-intro {
    text-align: center;
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.home-top .home-intro p {color: var(--themeColor); font-weight: 600;}

.home-top .home-intro h1 {
    font-size: 7rem;
    font-weight: 600;
    margin-top: 2rem;
    color: #1a1a1a;
}

.home-top .home-intro h3 {
    font-size: 3rem;
    font-weight: 600;
    padding: 1rem;
    margin-top: 1rem;
}

.home-intro .cv-btn a {
    color: #fff;
}

.home-intro .cv-btn:hover a {
    color: var(--themeColor);
}

.cv-btn {
    padding: 1.5rem 3rem;
    border: none;
    border-radius: 1rem;
    font-size: 1.6rem;
    display: table;
    margin: 4rem auto;
    background-color: var(--themeColor);
    color: #fff;
    font-weight: 600;
     box-shadow: -3px 10px 17px 1px rgb(239 51 0 / 25%);
    -webkit-box-shadow: -3px 10px 17px 1px rgb(239 51 0 / 25%);
    border: 1px solid var(--themeColor);
    transition: .25s all;
    -webkit-transition: .25s all;
}

.cv-btn:hover {background: #fff; border: 1px solid var(--themeColor); color: var(--themeColor); transform: scale(1.05); -webkit-transform: scale(1.05);}



.about-section {
    padding: 6rem 0;
}

.about-section .main-container {
    display: grid;
    display: -ms-grid;
    grid-template-columns: 1fr 1.2fr;
    -ms-grid-column: (2)[1fr 1.2fr];
    grid-gap: 6rem;
    align-items: center;
    -webskit-align-items: center;
}

.about-section h2 {
    text-align: left;
}

.about-section ul {
    list-style: none;
    padding: 5rem 0 2rem;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.about-section ul li {
    padding: 1.5rem;
    text-align: center;
    background: #fff;
    color: var(--peraColor);
    box-shadow: -3px 10px 17px 1px rgb(0 01 0 / 10%);
    -webkit-box-shadow: -3px 10px 17px 1px rgb(0 0 0 / 10%);
    width: 33%;
    border-radius: 1rem;
    transition: .25s all;
    -webkit-transition: .25s all;
    line-height: 2.5rem;
}

.about-section ul li:hover {
    box-shadow: -3px 10px 17px 1px rgb(0 01 0 / 20%);
    -webkit-box-shadow: -3px 10px 17px 1px rgb(0 0 0 / 20%);
}

.about-section ul li span {
    display: block;
    color: var(--themeColor);
    font-weight: 600;
    font-size: 3rem;
    padding: 1rem;
}

.about-section .cv-btn {
    margin: 3rem 0 0;
}

.about-section .ab-left img {
    border-radius: 10px;
}


.skill-section {
    padding: 8rem 0;
    background: #fff9f7;
}

.skill-section ul {
    list-style: none;
    padding-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.skill-section ul li {
    background: #fff;
    padding: 2rem;
    border-radius: 1rem;
    text-align: center;
    width: 18%;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2rem;
    flex: auto;
    box-shadow: 0px 8px 10px 1px rgb(0 0 0 / 5%);
    -webkit-box-shadow: 0px 8px 10px 1px rgb(0 0 0 / 5%);
    transition: .25s all;
    -webkit-transition:  .25s all;
}

.skill-section ul li:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
}

.skill-section ul li img {
    width: 5rem;
    display: block;
    margin: 0 auto 1rem;
}

.skill-section ul li:last-child img {
    width: 10rem;
}


.projects-sec {
padding: 7rem 0;
}

.projects-sec .main-container {
    display: grid;
    display: -ms-grid;
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-column: (2)[1fr];
    grid-gap: 3rem;
    padding-top: 3rem;
}

.projects {
    background: #fff;
    border-radius: 1rem;
    height: 28rem;
    border: 1px solid #ccc;
}

.projects .pr-img {
    border-radius: .5rem;
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 1rem;
}

.projects .pr-img img {
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    object-fit: cover;
    border-radius: 1rem;
}

.projects .link-overly {
    padding: 2rem;
    background: #000000bf;
    text-align: center;
    border-radius: 1rem;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: scale(0);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .25s all;
    -webkit-transition: .25s all;
    opacity: 0;
    visibility: hidden;
    z-index: 10;
}

.projects:hover .link-overly {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.projects .link-overly a {
    display: block;
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
    line-height: 3rem;
}


.contactSection {
    padding: 6rem 0;
    background: var(--lightgreyColor);
}


.ct-right {
    padding: 4rem 2rem 2rem;
    border: 0.1rem solid #f2f2f2;
    border-radius: 0 1rem 1rem 0;
    background: #fff;
    /* box-shadow: 0px 40px 60px -10px rgba(0,0,0,0.2); */
    width: 100%;
    max-width: 80rem;
    margin: 2rem auto;
}

.ct-right form {
    display: flex;
    flex-wrap: wrap;
    gap: 0 2rem;
}

.contact-get-touch-box {
    position: relative;
    margin-bottom: 2rem;
    width: 48%;
    display: inline-flex;
}

.contact-get-touch-box:nth-of-type(4), .contact-get-touch-box:nth-of-type(3) {
    width: 100%;
}

.contact-get-touch-box input {
    width: 100%;
    height: 5.5rem;
    border: 1px solid #ddd;
    padding: 1.5rem;
    font-family: inherit;
    flex: auto;
}

.contact-get-touch-box textarea {
    width: 100%;
    height: 100px;
    border: 1px solid #ddd;
    padding: 1.5rem;
    font-family: inherit;
    flex: auto;
}

.contact-us-page-submit {
    width: 20rem;
    height: 5.5rem;
    display: table;
    margin: auto;
    background: var(--themeColor);
    border: none;
    font-size: 2rem;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    border-radius: 1rem;
}


.contactnumber {
    padding: 4rem 0;
    background: #05113a;
}

.ct-left ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.ct-left ul li {
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    padding: 0 3rem;
    border-left: 1px solid #c5c5c5;
}

.ct-left ul li:first-child {
    border: none;
}

.ct-left ul li i {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: var(--themeColor);
    color: #fff;
    font-size: 2.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.ct-left ul li span {
    font-size: 1.8rem;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
}

.ct-left ul li a {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 300;
}

footer {
    padding: 2rem 0 0;
    text-align: center;
}

footer ul {
    list-style:  none;
}

footer ul li {
    display: inline-block;
    padding: 0 .51rem;
    text-align: center;
}

footer ul li img {
    width: 3.5rem;
}

.copyright {
    background: #000;
    padding: .5rem;
    margin-top: 1rem;
}

.copyright p {
    font-size: 1.3rem;
    color: #fff;
    line-height: 2.5rem;
    text-align: center;
}

.whatsapp {
    width: 4rem;
    position: fixed;
    bottom: 2rem;
    right: 30px;
    z-index: 1000;
}


.reveal{
    position: relative;
    transform: translateY(80px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }

@media screen and (max-width: 991px) {
    html {font-size: 58%;}
    .main-container {width: 100%;}

    .navbar {
        position: fixed;
        left: 0;
        top: 0;
        background: #FFFFFF;
        width: 0;
        overflow-y: auto;
        height: 100%;
        -webkit-transition: 0.25s;
        transition: 0.25s;
        -webkit-box-shadow: 14px 0px 13px rgba(153, 153, 153, 0.22);
        box-shadow: 14px 0px 13px rgba(153, 153, 153, 0.22);
        padding: 3rem 0;
        z-index: 999;
    }
  
 .nav_btn_open {
      display: block;
        line-height: 0;
        font-size: 3.5rem;
        background: no-repeat;
        border: none;
        color: #000000;
        position: absolute;
        top: 50%;
        right: 1.5rem;
        transform: translateY(-50%);
    }
    
    &.is-active {
      display: block;
      opacity: 1;
      visibility: visible;
    }
    
 .nav_btn_close {display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: 5.6rem;
      height: 5.6rem;
      font-size: 2.7rem;
      border: none;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      color: #000000;
      background-color: #fff;
    }

    nav ul li {
        display: block;
    }

    .about-section ul li {
        width: 47%;
    }

    header {padding-top: 1.5rem;}
}


@media screen and (max-width: 767px) {
    .home-top {height: 50rem;}

    .about-section .main-container {grid-template-columns: 1fr;}
}

@media screen and (max-width: 600px) {
    .about-section .cv-btn {margin-left: auto; margin-right: auto;}

    .projects-sec .main-container {grid-template-columns: 1fr;}

    .contact-get-touch-box {width: 100%;}
}

@media screen and (max-width: 480px) {

    .ct-left ul {flex-direction: column;}

    .ct-left ul li {border-left: 0; border-top: 1px solid #c5c5c5; padding: 3rem 0;}

    .skill-section ul li {width: 47%;}

}



